<app-titulo [titulo]="titulo"></app-titulo>
<div class="d-flex">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label class="mr-2">Buscar Produtos:</label><input type="text" class="form-control mr-2" placeholder="Buscar"
        [(ngModel)]="filtroProduto">
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="novoProduto(template)">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo
    </button>
  </div>
</div>
<h3>Filtro: {{filtroProduto}}</h3>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Código</th>
      <th>Decrição</th>
      <th>Fornecedor</th>
      <th>Categoria</th>
      <th>Preço</th>
      <th>Ativo</th>
    </tr>
  </thead>
  <tbody *ngIf="produtos && produtos.length">
    <tr *ngFor="let produto of produtosFiltrados">

      <td>{{produto.id}}</td>
      <td>{{produto.descricao}}</td>
      <td>{{produto.fornecedor}}</td>
      <td>{{produto.categoria}}</td>
      <td>{{produto.preco}}</td>
      <td>{{produto.ativo}}</td>
      <td>
        <div *ngIf="!produto.categoria.length">
          Não Informado
        </div>
        <div *ngIf="produto.categoria.length">
          {{produto.categoria[0].descricao | uppercase}}
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success" tooltip="Editar" (click)="editarProduto(produto, template)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluirProduto(produto, confirm)">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
      <td>
        <a [routerLink]="['/produto', produto.id, 'edit']" tooltip="Edição Detalhada" class="btn btn-sm btn-warning">
          <i class="fa fa-edit"></i>
        </a>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          Nenhum evento encontrado!
        </h4>
      </td>
    </tr>
  </tfoot>
</table>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Descricão</label>
            <input type="text" placeholder="Insira o Descricão">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">
            <label>Categoria</label>
            <input type="text" placeholder="Categoria do Produto">
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Preço</label>
              <input type="text" placeholder="Preço do Produto">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Ativo</label>
              <input type="text" placeholder="">
            </div>
          </div>

        </div>
        <div class="modal-footer d-flex">
          <button class="btn btn-secondary" (click)="template.hide()">
            Fechar
          </button>
          <button class="btn btn-primary ml-auto" (click)="salvarAlteracao(template)">
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>


  <div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">
            Deletando Produto
          </h4>
          <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{bodyDeletarProduto}}</p>
        </div>
        <div class="modal-footer btn-group d-flex">
          <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
            CENCELAR
          </button>
          <button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
            DELETAR
          </button>
        </div>
      </div>
    </div>
  </div>